body {
	background-color: $background;

	&,
	& * {
		font-family: 'Roboto', sans-serif;
		box-sizing: border-box;
	}
}

header {
	width: full;
	& > h1 {
		color: white;
		text-align: center;
	}
}

.accent {
	color: $accent;
}

.hashtag {
	color: $accent;
	margin-right: 5px;
}

.flash-placeholder::placeholder {
	color: rgb(200, 0, 0) !important;
}

.no-notes {
	color: lightgray;
	width: 100%;
	text-align: center;
}
